
/*      VARIABLES       */

:root {
    --border-radius: 10px;
    --bacground-color: rgb(195, 212, 246);
    --text-color: rgb(101, 101, 102);
    --heading-background-color: rgb(108, 123, 224);
    --row-separator: rgb(242, 242, 242);
}
/*-------------------------*/

body {
    background-color: var(--bacground-color);
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: var(--text-color);
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    background-color: white;    
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius);
    display: block;
    
}

td {
    white-space: nowrap;
    font-size: 15px;
}

/*      TABLE-HEADING ROW       */
table tr:first-child{
    background-color: var(--heading-background-color);
    color: white;
}
th {
    font-size: 18px;
    font-weight: normal;
}
/*---------------------------------------*/

/*  TOP TWO ROUNDED BORDERS*/
table tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
}
table tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
}
/*--------------------------------*/

/*      ROW SEPARATOR       */
tr {
    border-bottom: 1px solid var(--row-separator);
}
table tr:last-child {
    border-style: none;     /*  Last row has no line at the bottom  */
}
/*---------------------------------*/

/*      COLUMN PADDING */
table tr td:first-child,
table tr:first-child th:first-child {   /*  1   */
    padding: 20px 140px 20px 40px;
}
table tr td:nth-child(2),
table tr:first-child th:nth-child(2) {   /*  2   */
    padding: 20px 100px 20px 40px;
    
}
table tr td:nth-child(3),
table tr:first-child th:nth-child(3) {   /*  3   */
    padding: 20px 100px 20px 30px;
}
table tr td:nth-child(4),
table tr:first-child th:nth-child(4) {   /*  4   */
    padding: 20px 100px 20px 40px;
}
/*--------------------------------*/

/*  REMOVING THE WHITE LINES BETWEEN th ELEMENTS    */

th {
    background-color: var(--heading-background-color);
    border-right: 2px solid var(--heading-background-color);
    padding-bottom: 17px !important;
}
th:last-child   {
    border: 0;
}
table tr:first-child {
    border-bottom: 3px solid var(--heading-background-color);
}

/*-------------------------------------------------*/
