/*  VARIABLES   */
:root {
    --form-background-color: rgb(232, 237, 240);
}

/*-----------------------------*/

/*  LEFT FROM BLOCK */
.message-form {
    background-color: var(--form-background-color);
    font-size: 12px;
}

/*-------------------------------*/

/*  CONTACT ICONS   */
i {
    border-radius: 100%;
    padding: 15px;
    color: white;
}

/*-------------------------*/

/*  REMOVING LINK UNDERLINE */
a {
    text-decoration: none !important;
}

/*----------------------------*/

/*  ENTIRE FORM BLOCK   */
.forma {
    padding-top: 7rem;
}

/*---------------------------*/