body div:first-child div:first-child{
    font-size: small;
    
}

.message-form {
    background-color: rgb(232, 237, 240);
}


i {
    border-radius: 100%;
    background-color: aqua;
    padding: 15px;
    color: white;
}

a {
    text-decoration: none !important;
}